.node {
  width: 25px;
  height: 25px;
  
  /* background: white; */
  border: 1px solid #ddd;
  box-sizing: border-box;
}


.dark .node:not(.node-start)
:not(.node-end)
:not(.node-wall)
:not(.node-visited)
:not(.node-path) {
  border-color: #555;
  background: #2f3136;
}

/* Start */
.node-start {
  background: #00c853;
}

/* End */
.node-end {
  background: #ff1744;
}

/* Wall */
.node-wall {
  background: #555;
}

/* Visited */
.node-visited {
  background: #40c4ff;
}

/* Path */
.node-path {
  background: #ffd600;
}
